<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Find a Restaurant!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!ratingsSubmitted">
    <ion-card *ngFor="let dish of dishes; let i = index">
      <ion-card-header>
        <ion-card-title style="text-align:center;">
          Rate The Dish
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="'assets/dishes/' + dish" [alt]="dish">
        <div style="text-align:center;">
          <ion-icon name="star" size="large" (click)="rateDish(i, 1)" [ngStyle]="{'color':getStarColor(i, 1)}"></ion-icon>
          <ion-icon name="star" size="large" (click)="rateDish(i, 2)"  [ngStyle]="{'color':getStarColor(i, 2)}"></ion-icon>
          <ion-icon name="star" size="large" (click)="rateDish(i, 3)"  [ngStyle]="{'color':getStarColor(i, 3)}"></ion-icon>
          <ion-icon name="star" size="large" (click)="rateDish(i, 4)" [ngStyle]="{'color':getStarColor(i, 4)}"></ion-icon>
          <ion-icon name="star" size="large" (click)="rateDish(i, 5)" [ngStyle]="{'color':getStarColor(i, 5)}"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <div style="text-align:center;">
      <ion-button size="large" (click)="submitRatings()" [disabled]="!allRated">
        Submit Ratings
      </ion-button>
    </div>
  </div>
  <ion-card *ngIf="ratingsSubmitted">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align:center;">
          <div>
            {{this.suggestions[current_suggestion].name}}
          </div>
        </ion-card-title>
        <ion-card-subtitle>
          <div style="text-align: center">
            {{this.suggestions[current_suggestion].editorial_summary ? this.suggestions[current_suggestion].editorial_summary.overview : ""}}
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div style="text-align: center">
          <img [src]="this.suggestions[current_suggestion].picture_url" width="300">
        </div>
        <div>
          <h5>Rating: {{this.suggestions[current_suggestion].rating}}</h5>
          <div>
            <h5 style="display: inline-block">Address: </h5>
            <h5 style="display: inline-block"><a [href]="this.suggestions[current_suggestion].url">{{this.suggestions[current_suggestion].formatted_address}}</a></h5>
          </div>
          <h5>Price Level: {{this.suggestions[current_suggestion].price_level}}</h5>
        </div>
      </ion-card-content>
    </ion-card>
    <div style="text-align:center;">
      <ion-button size="large" (click)="nextSuggestion()" [disabled]="current_suggestion >= suggestions.length">
        Next Suggestion
      </ion-button>
    </div>
    <div style="text-align:center; margin-top: 10px; margin-bottom: 10px;">
      <ion-button color=warning size="large" (click)="submitNewRatings()">
        Submit New Ratings
      </ion-button>
    </div>
  </ion-card>
</ion-content>
