<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Name</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Your past restaurants</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div *ngFor="let r of restaurants; let i = index">
          <ion-item>
            <ion-label>{{r.name}}</ion-label>
            <ion-icon name="star" size="small" [ngStyle]="{'color':getStarColor(i, 1)}"></ion-icon>
            <ion-icon name="star" size="small" [ngStyle]="{'color':getStarColor(i, 2)}"></ion-icon>
            <ion-icon name="star" size="small" [ngStyle]="{'color':getStarColor(i, 3)}"></ion-icon>
            <ion-icon name="star" size="small" [ngStyle]="{'color':getStarColor(i, 4)}"></ion-icon>
            <ion-icon name="star" size="small" [ngStyle]="{'color':getStarColor(i, 5)}"></ion-icon>
          </ion-item>
        </div>
      </ion-list>
      <div style="text-align:center; margin-top: 20px">
        <ion-button size="medium" (click)="refresh()">
          Refresh
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
